<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiiIf6pvT02wxA8gUokaCCUtKSJ0kDgww</string>
	<key>GCM_SENDER_ID</key>
	<string>13653110821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nomadFlutterChallenge</string>
	<key>PROJECT_ID</key>
	<string>nomad-flutter-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>nomad-flutter-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13653110821:ios:aebc6e3abbb6aab263cfcc</string>
</dict>
</plist>